/* Custom styles for posts */
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  object-fit: cover;
  height: 350px; /* Ensure image height is consistent */
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 0.5rem 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.btn-link {
  font-size: 0.875rem;
  font-weight: bold;
  color: #333;
}

.btn-link:hover {
  color: #007bff;
}

/* Modal styling */
.modal-content {
  border-radius: 0.5rem;
}
